{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/hiragana-quiz-styles.css' %}">
{% endblock %}
<body>
  <h1>Hiragana Quiz</h1>
  <div class="container">
    <div class="hiragana">あ</div>
  </div>
  <div class="container">
    <div class="romaji" style="background-color: lightblue;">a</div>
    <div class="romaji" style="background-color: lightpink;">i</div>
    <div class="romaji" style="background-color: lightsalmon;">u</div>
    <div class="romaji" style="background-color: lightgoldenrodyellow;">e</div>
  </div>
</body>