{% extends "base.html" %}

{% block title %}How to Learn Japanese Focused Immersion{% endblock%}

{% block content %}
{{block.super}}
{% load static %}
    <body class="is-preload"> 
        <div id="page-wrapper"> 
            <!-- Main -->             
            <section class="wrapper style1"> 
                <div class="container"> 
                    <div id="content"> 
                        <!-- Content -->                         
                        <article> 
                            <header> 
                                <h2 class="text-center">How to Learn Japanese – Focused Immersion</h2> 
                                <p class="text-center">Written by Justin Amstadt</p> 
                            </header>                             <span class="image featured"><img src="{% static 'images/books-scaled.jpg'%}" alt=""/></span> 
                            <p>Have you ever tried learning Japanese and ultimately end up unable to put together the most basic of sentences? I have met people who have spent years studying Japanese on and off only to find themselves unable to use their ability in any real life circumstance.<br><br>
If you’re someone like that, have you ever asked yourself if there’s a better way? I’ve found there is. Immersion.<br><br>
When most people think of immersion, they image themselves going to a country where the language is spoken. They spend a couple of months there and magically become able to speak the language. For any language, especially Japanese, this is not how it works.<br><br>
In the majority of cases that I’ve heard of, people will move to Japan, work their English-speaking job, and never learn any Japanese past alcohol (さけ) and thank you (ありがとうございます).<br><br>
If moving to Japan doesn’t work, what does work then? The answer is simple: daily immersion.</p> 
                            <h3>The Better Definition of “Immersion”</h3> 
                            <p>The word “immersion” is thrown around quite a lot when discussing language learning, but it’s usually only used in the context of moving to a foreign country. In reality, immersion can be done anywhere in the world. In fact, the only thing that you need is an internet connection.<br><br>
Immersion is the act of listening to or reading a language and trying to understand what you are taking in. To the brain, a language is a series of repeating patterns that can be figured out over time. The more opportunities you give the brain to understand a language, the more you will begin to understand. In other words, the more immersion you do through watching Japanese TV and novels, the more you will learn.</p>
                            <h3>What Does Focused Immersion Mean?</h3>
                            <center><span class="image"><img src="{% static 'images/focus-scaled.jpg'%}" alt="wire simulator game"/></span>
                            </center>
                            <p>Focused immersion is just how it sounds: The act of focusing your whole attention on the Japanese TV show or book that’s in front of you. Also, in order to give your brain enough time to get used to what you are immersing in, it’s important to do focused immersion for <strong>at least 2 hours every day.</strong><br><br><strong>For beginners:</strong><br><br>
2 hours every day might seem like a lot when you understand absolutely nothing that you are listening to, and I get that. That’s why I don’t suggest 2 full hours of Japanese TV with no subtitles at all. If you’re someone that has the patience to sit through incomprehensible speech for 2 hours every day for the next few months, knock yourself out. If not, I suggest a hybrid of subtitles in your native language and no subtitles at all during your focused immersion time.<br><br>
For example: While you are watching a show with subtitles, occasionally rewind parts of it and watch that same part without subtitles. You don’t need to re-watch the entire episode if you don’t want to, but it’s important to give your ears an opportunity to understand what you are listening to without the crutch of subtitles.<br><br>
Even when subtitles are on, still try to listen in on what you are hearing. Since your brain will block out sounds and other sensory input that it considers to be unimportant, it’s essential that you maintain a good amount of focus on what you are hearing, not just on what you are reading.<br><br>
Also, since you are trying to train your ears, <strong>kid shows are useless.</strong> They are too slow and dreadfully boring anyways.<br><br><strong>I recommend that beginners primarily watch TV shows as opposed to reading.</strong> That’s because it’s very important that you start the process of getting your ears used to native speed as early as possible since it takes a long time to develop listening ability.<br><br><strong>For intermediate learners:</strong><br><br>
At this stage, you should be understanding a fair amount of what you are hearing. It might be difficult to understand the plot depending on how difficult the words are and how fast the dialogue is, but you’re much more used to Japanese compared to when you first started learning.<br><br>
Since you can understand enough of what you are hearing, you don’t need subtitles in your native language either. Instead, the level of difficulty of the show you are watching is more important. If the show is too easy, you are no longer learning as much as you could be. If the show is too difficult, it’s hard to pick up new words and grammar. It’s important to find a happy medium between shows that aren’t too easy but aren’t too hard either.<br><br>
I don’t recommend subtitles in your native language, but in some cases, <strong>Japanese subtitles can be very useful.</strong> Although it’s important to watch shows without subtitles for the majority of your focused immersion time, turning on subtitles for shows that would normally be beyond your language level can help push the boundaries of your ability.<br><br>
Since your main goal during focused immersion with TV shows is to develop your listening ability, <strong>relying on subtitles too much can slow down that process.</strong></p> 
                            <h3>Why Immersion Works</h3>
                            <p>Some of you might be wondering what the point of watching Japanese TV is when you can’t understand any of it. It sounds like a waste of time doesn’t it? In response to that, I ask them this: How did you learn your first language? People learn differently as they grow up, but everyone starts out the same with all language being incomprehensible. Babies take incomprehensible language and find patterns in the gibberish and as it turns out, <strong>people don’t actually lose this language learning capability.</strong></p>
                            <center><span class="image"><img src="{% static 'images/alphabet-1.jpg'%}" alt="wire simulator game"/></span>
                            </center>
                            <p>Since our ability to recognize patterns helps us understand language even when it’s incomprehensible, <strong>TV shows are a useful tool regardless of language ability.</strong> In fact, we’re so good at recognizing patterns that we occasionally find patterns when none exist. It may seem like a waste of time, but trust me, it’s not.</p>
                            <h3>It’s Important to Immerse a Lot Every Day</h3>
                            <p>
    In addition to the 2 hours of focused immersion, I also suggest that Japanese learners at any level also do background immersion (more on that coming soon!). That’s a big time commitment isn’t it? In fact, I can almost hear the excuses rolling in. The one I hear my students give most often is “I don’t have enough time.” As it turns out though, it’s really easy to make time for most people. Do you watch any kind of entertainment in your native language? If so, <strong>just switch it to Japanese. Simple.</strong><br><br>
It’s important to immerse a lot on a consistent basis because although your brain is really good at recognizing patterns, it just takes time. In fact, Japanese and English are so different that you have to work way harder compared to a Spanish learner. <a href="https://www.state.gov/foreign-language-training/">Just take a look at how the Foreign Service Institute categorizes Japanese.</a> They put Japanese in the most difficult tier of languages next to Arabic and Chinese. You need 2200 class hours to gain proficiency!<br><br>
It just goes to show how different English and Japanese are. Your brain not only needs time to understand a language that sounds nothing like English, but also learn grammar that almost never has a direct comparison to English.<br><br>
With time, you will learn it all eventually, but <strong>you have to feed your brain the same patterns many, many times before you will understand what you are hearing.</strong></p>
                            <h3>Immersion Need to Be Fun!</h3>
                            <p>Any kind of hobby or activity done on your own time has to be fun. If it’s not, you <i>will</i> drop it.<br><br>
That goes for language learning too. Just ask anyone who uses textbooks to study Japanese; They’ll never be able to maintain a continuous study habit for more than a few months before they need a break.<br><br>
Because of that, it’s <i>essential</i> that your Japanese studies are fun in order to maintain a solid study routine over a long period of time. If you keep starting and stopping, it will take a <i>very long time</i> to gain any kind of proficiency.<br><br>
How can you make Japanese fun?<br><br>
Combine it with your hobbies or watch TV shows you enjoy in Japanese. It beats textbooks and you’ll never get bored that way.</p>
                            <h3>Wrap Up</h3>
                            <p>This is by no means a full guide on how to learn Japanese with immersion. However, it’s important to take away the fact that both focused immersion and background immersion are key to studying Japanese. I will explain the intricacies of immersion learning in the future, but until then, <a href="japanese-tutoring.html">let’s have a one-on-one chat about your learning and figure out a study plan together!</a></p>
                        </article>                         
                    </div>                     
                </div>                 
            </section>             
            <!-- Footer -->             
        </div>         
        <h3 class="text-center">Contact me at justinamstadt@gmail.com</h3> 
        <div id="footer"> 
            <div class="container"> 
                <div class="row"> 
</div>                 
            </div>             
            <!-- Icons -->             
            <ul class="icons"> 
                <li></li>                 
                <li><a href="https://github.com/JustinAmstadt" class="icon brands fa-github"><span class="label">GitHub</span></a>
                </li>                 
                <li></li>                 
                <li></li>                 
            </ul>             
        </div>         
        <!-- Scripts -->         
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>     
{% endblock %}