{% extends "base.html" %}

{% block title %}Improve Vocabulary{% endblock%}

{% block content %}
{{block.super}}
{% load static %}
    <body class="is-preload"> 
        <div id="page-wrapper"> 
            <!-- Header -->             
            <!-- Main -->             
            <section class="wrapper style1"> 
                <div class="container"> 
                    <div id="content"> 
                        <!-- Content -->                         
                        <article> 
                            <header> 
                                <h2 class="text-center">How to Improve Your Vocabulary</h2> 
                                <p class="text-center">Written by Justin Amstadt</p> 
                            </header>                             <span class="image featured"><img src="{% static 'images/dictionary-scaled.jpg'%}" alt=""/></span> 
                            <p>Let’s face it: Learning a language requires an insane amount of memorization. Japanese doubles down on that with the usual 10,000+ vocabulary words requirement plus 2000+ kanji required to read.<br><br>
Since it takes so much time and energy to remember all of this, why do more work when you can do less with the same results?<br><br>
While vocabulary will take a large amount of effort no matter what method you use, there are some useful tactics that you can use to speed up the learning process.</p> 
                            <h3>Anki</h3> 
                            <p>Anki is a flashcard software that uses Spaced Repetition System or SRS. Each flashcard will be assigned a time period between when you last reviewed the card and when you will see it next. Since different cards will show up on different days, you will only see a fraction of the total amount of cards in your deck on a single day.<br><br>
Using Anki will not only give you an effective study method, it will also give you a daily routine. That is key for any serious language learner.<br><br><a href="https://apps.ankiweb.net/">Anki official site</a><br><br>
To see how efficient Anki is vs. traditional study methods, take a look at <a href="https://www.youtube.com/watch?v=ai2K3qHpC7c">this video</a> for a good visual representation.<br><br>
With Anki, you can add 10 new flashcards for 10 new vocabulary words every day without overwhelming yourself. How many words can you learn in a year with 10 new words every day? 3,650 words. It adds up quick, doesn’t it?</p> 
                            <h3>Use Mnemonics</h3>
                            <p>A mnemonic uses visualizations, imagery, a play on words, etc. to help you memorize information that you would have otherwise struggled to remember.<br><br>
Despite what schools say about repetition being the best way to memorize vocabulary, there are many more techniques out there. Our brains have a strong imagination that uses imagery, colors, knowledge of physical locations, etc. You are doing yourself a disservice by not taking advantage of this powerful tool.<br><br>
For example, let’s take the word 先生 (teacher). Since 先 can mean “previous” and 生 is also used in 学生 (student), you can imagination your teacher being a previous student before he/she became a teacher. Imagine that person going through school, graduating, then starting a job as a teacher.<br><br>
Mnemonics are a powerful way to memorize kanji as seen in the book <a href="https://www.amazon.com/Remembering-Kanji-Vol-Complete-Characters/dp/0824831659"><i>Remembering the Kanji</i> by James Heisig</a>. By making stories with the radicals in each kanji, it’s incredible how quickly people are able to learn all 2,000 kanji. It takes Japanese people years of schooling to learn kanji, but you can finish Remembering the Kanji in under 6 months.</p> 
                            <center>
                                <span class="image"><img src="{% static 'images/RTK.jpg'%}" alt="wire simulator game"/></span>
                            </center>
                            <h3>Immerse in Japanese Content</h3>
                            <p>Ultimately, the best way to learn vocabulary is to expose yourself to vocabulary that’s seen “in the wild”. You’ll get the opportunity to refresh words you already know and learn new words just by watching your favorite Japanese content.<br><br>
In order to get the best results from your immersion, it’s best to choose shows where you understand approximately 90% of what’s being said. That way you can enjoy the show and use the context that you have to pick up the other 10% on the fly.<br><br>
Another technique is to stick with the same genre for a while to learn words for a specific topic. For example, if I were really interested in learning baseball terms, watching baseball anime would help me since the same terms will be repeated constantly regardless of the specific series I’m watching.<br><br>
Some baseball terms:</p>
                            <ul>
                                <li>満塁</li>
                                <li>攻守交代</li>
                                <li>ストライク</li>
                                <li>打者</li>
                                <li>投手</li>
                            </ul>
                            <p>
This same principle can also be applied to help you learn what 立体機動装置 means (watch Attack on Titan).<br><br>
I’ve also found that authors tend to use the same vocabulary and expressions in their writing. While a lot of you may not be ready for full-on novels yet, this pattern goes for manga too. By sticking with material written by the same author, you will gradually become familiar with the expressions that author uses. This will make you more comfortable reading stuff from that author compared to other books/manga over time.</p>
                            <h3>Conclusion</h3>
                            <p>
    Unfortunately, learning Japanese without studying vocabulary is impossible. However, by finding strategies that make the process more efficient and fun, memorizing vocabulary stops being a chore and turns into your daily routine. </p>
                        </article>                         
                    </div>                     
                </div>                 
            </section>             
            <!-- Footer -->             
        </div>         
        <h3 class="text-center">Contact me at justinamstadt@gmail.com</h3> 
        <div id="footer"> 
            <div class="container"> 
                <div class="row"> 
</div>                 
            </div>             
            <!-- Icons -->             
            <ul class="icons"> 
                <li></li>                 
                <li>
                    <a href="https://github.com/JustinAmstadt" class="icon brands fa-github"><span class="label">GitHub</span></a>
                </li>                 
                <li></li>                 
                <li></li>                 
            </ul>             
        </div>         
        <!-- Scripts -->         
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>     
{% endblock %}