{% extends "base.html" %}

{% block title %}Japanese Tutoring{% endblock%}

{% block content %}
  {{block.super}}
  {% load static %}
  <body class="is-preload">
    <div id="page-wrapper">
            <!-- Main -->             
      <section class="wrapper style1">
        <div class="container">
          <div id="content">
                        <!-- Content -->                         
            <article>
              <header>
                <h2 class="text-center">Japanese Tutoring</h2>
                <p>Upgrade yourself and better connect with others from a unique and interesting culture</p>
              </header>
              <span class="image featured"><img src="{% static 'images/Mt._Fuji_banner.jpg'%}" alt=""/></span>
              <h3>Try out a free 15 minute consultation!</h3>
              <p>Have you tried learning Japanese before and never seem to make any progress? Are you interested in Japanese and just don’t know where to start? I can help get you on the right track.</p>
              <h3>About Me</h3>
              <ul>
                <li>I began studying Japanese 6 years ago and I am n1 level.</li>
                <li>English is my native language. This means that I can give precise explanations while nonnative English speakers might struggle.</li>
                <li>As some of my students might tell you, I am extremely patient.</li>
                <li>If a native Japanese teacher hasn’t learned English to a high level themselves, why would you learn a language from someone who
                  has had only poor success in language learning?
                </li>
                <li>In Japan, kids learn characters slowly over a period of 8+ years. This method is extremely inefficient, yet most Japanese teachers do
                  not question it. I learned characters in 2 years.
                </li>
                <li>A native may not even remember how they learned Japanese anymore. I started learning at 16.</li>
                <li>As a native English speaker, I know what native English speakers struggle with.</li>
              </ul>
              <p>I am not a traditional teacher. When I strayed from the traditional learning path 3 years ago, I found myself progressing rapidly in my Japanese ability. I took in “work smarter, not harder” as my motto. Along with that, I realized that learning must be fun and engaging for someone to want to study regularly. As opposed to spoon feeding you grammar, I will coach you on how to make Japanese learning an enjoyable, self-sufficient habit. This, along with efficient study methods, will bring you rapid success.</p>
              <h3>Pricing and Other Information</h3>
              <p>Private lessons: Due to a high demand and a limited schedule, I charge $40 for an hour lesson. A free 15 minute consultation is available.</p>
              <p>All lessons will be done on Zoom or Google Hangouts.  <br>Let me know if you can't use either of these.
                All lessons must be done online </p>
              <p>
                "Justin has been a great Japanese teacher and coach during my language learning journey.
                I have been studying Japanese on-and-off for about five years and was struggling to stay motivated.
                Since starting with Justin a few months ago, my Japanese language acquisition has increased and I’m more excited than ever to learn the language."<br>
                -Rick </p>
            </article>
          </div>
        </div>
      </section>
            <!-- Footer -->             
      <h3 class="text-center">Contact me at justinamstadt@gmail.com</h3>
      <div id="footer">
        <div class="container">
          <div class="row">
          </div>
        </div>
                <!-- Icons -->                 
        <ul class="icons">
          <li></li>
          <li><a href="https://github.com/JustinAmstadt" class="icon brands fa-github"><span class="label">GitHub</span></a>
          </li>
          <li></li>
          <li></li>
        </ul>
                <!-- Copyright -->                 
        <div class="copyright">
          <ul class="menu">
            <li>Design: <a href="http://html5up.net">HTML5 UP</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
        <!-- Scripts -->         
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.dropotron.min.js' %}"></script>
    <script src="{% static 'js/browser.min.js' %}"></script>
    <script src="{% static 'js/breakpoints.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
{% endblock %}