{% extends "base.html" %}

{% block title %}cubeTest{% endblock%}

{% block content %}
{{block.super}}
{% load static %}

    <body class="is-preload">
        <canvas id="webgl-canvas" width="512" height="512"></canvas>
        <!-- Footer -->             
        <h3 class="text-center">Contact me at justinamstadt@gmail.com</h3> 
        <div id="footer"> 
            <div class="container"> 
                <div class="row"> 
</div>                     
            </div>                 
            <!-- Icons -->                 
            <ul class="icons"> 
                <li></li>                     
                <li><a href="https://github.com/JustinAmstadt" class="icon brands fa-github"><span class="label">GitHub</span></a>
                </li>                     
                <li></li>                     
                <li></li>                     
            </ul>                 
            <!-- Copyright -->                 
            <div class="copyright"> 
                <ul class="menu"> 
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a>
                    </li>                         
                </ul>                     
            </div>                 
            </div>             

        <script>
            window.onload = () => {
                let canvas = document.getElementById("webgl-canvas");
                let gl = canvas.getContext("webgl2");

                gl.clearColor(0.2, 0.2, 0.2, 1.0);
                gl.enable(gl.DEPTH_TEST);

                let cube = new IndexedCube(gl);
                let axes = new Axes(gl);
                let ms = new MatrixStack;

                let near = 2.0;
                let far = 4.0;
                cube.P = perspective(60.0, 1.0, near, far);
                axes.P = cube.P;

                ms.translate(0, 0, -0.5*(near + far));

                let angle = 0.0;

                let render = () => {
                    gl.clear(gl.COLOR_BUFFER_BIT|gl.DEPTH_BUFFER_BIT);

                    angle += 1.0;
                    angle %= 360.0;

                    ms.push();
                    ms.rotate(angle, [1, 1, 0]);
                    cube.MV = ms.current();
                    cube.draw();

                    axes.MV = ms.current();
                    axes.draw();
                    ms.pop();

                    requestAnimationFrame(render);
                };

                render();
            };
        </script>

        <script src="{% static 'js/interactive_opengl/IndexedCube.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/Common/Helpers.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/Common/initShaders.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/Common/MatrixStack.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/Common/MV.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/Common/Axes.js' %}"></script>
    </body>
{% endblock %}