{% extends "base.html" %}

{% block title %}cubeTest{% endblock%}

{% block content %}
{{block.super}}
{% load static %}
    <body class="is-preload">
        <canvas id="webgl-canvas" width="512" height="512"></canvas>
        <div id="vertex-editor" style="height: 512px; width: 512px;"></div>
        <div id="fragment-editor" style="height: 512px; width: 512px;"></div>
        <button id="new-code-button">Get Content</button>
        <!-- Footer -->             
        <h3 class="text-center">Contact me at justinamstadt@gmail.com</h3> 
        <div id="footer"> 
            <div class="container"> 
                <div class="row"></div>                     
            </div>                 
            <!-- Icons -->                 
            <ul class="icons"> 
                <li></li>                     
                <li><a href="https://github.com/JustinAmstadt" class="icon brands fa-github"><span class="label">GitHub</span></a></li>                     
                <li></li>                     
                <li></li>                     
            </ul>                 
            <!-- Copyright -->                 
            <div class="copyright"> 
                <ul class="menu"> 
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a>
                    </li>                         
                </ul>                     
            </div>                 
        </div>             


        <script src="{% static 'js/interactive_opengl/IndexedCube/CubeMainLoop.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/IndexedCube/IndexedCube.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/IndexedCube/Common/Helpers.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/IndexedCube/Common/initShaders.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/IndexedCube/Common/MatrixStack.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/IndexedCube/Common/MV.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/IndexedCube/Common/Axes.js' %}"></script>
        <script src="{% static 'js/interactive_opengl/UseAceEditor.js' %}"></script>


        <script>
            let vertexShader = 
`in vec4 aPosition;

uniform mat4 P;
uniform mat4 MV;

void main() {
    gl_Position = P * MV * aPosition;
}`
            let fragmentShader = 
`out vec4 fragColor;

void main()
{
    const vec4 frontColor = vec4(0.0, 1.0, 1.0, 1.0);
    const vec4 backColor = vec4(1.0, 0.0, 0.0, 1.0);

    fragColor = gl_FrontFacing ? frontColor : backColor;
} `
            loadAceEditor('glsl', vertexShader, "vertex-editor");
            loadAceEditor('glsl', fragmentShader, "fragment-editor");
            document.getElementById('new-code-button').onclick = () => updateShaderProgram(getEditorContent("vertex-editor"), getEditorContent("fragment-editor"))
        </script>
    </body>
{% endblock %}